$background: #E9D3FD;
$white: #FFFFFF;
$violet: #B86FFB;
$blue: #6FDBFB;
$grey: #99A5A8;
$red: #370104;
$light-purple: #F2DCFE;
$fuxia:  #F94DE2;
$blue-2: #7B68EE;

$m-sz: 40px;
$sz: 30px;
$mrg: 45px;
$pdg: 20px;
$f-f: Georgia;

@mixin position ($top, $bottom, $right, $left) {
    top: $top;
    bottom: $bottom;
    right: $right;
    left: $left;
}

.conteiner {
    background: $background;
    margin: $mrg;
    padding: $pdg;
}
p {
    font-size: $sz;
    font-family: $f-f;
}
header { 
    background-image: url(./images/header.jpg);
    height: 668px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: $f-f;
    color: $white;
    font-size: $m-sz;
    transition: transform .2s;
    &:hover {
        transform: scale(1.2);
    }
}
.h1-test, .h2-capitals {
    background-image: repeating-linear-gradient(rgba($color: $background, $alpha: 0.7), 
    rgba($color: $background, $alpha: 0.4));
    width: 1000px;
}
.h1-test {
    position: relative;
    @include position(350px, auto, auto, 150px);
    padding: 30px;
}
.h2-capitals {
    position: relative;
    @include position(350px, auto, auto, 150px);
    padding: $pdg;
}
footer {
    margin-top: $mrg;
    text-align: center;
}
.copyright {
    color: $white;
}
main {
    margin-top: 150px;
    margin-bottom: 100px;
}
.text-section {
    background: $light-purple;
    margin-left: $mrg;
    margin-right: $mrg;
    margin-bottom: $mrg;
    padding: $pdg;
    border: dashed $violet;
}
.image-and-text-section {
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-column-gap: 40px;
    justify-items: center;
    align-items: center;
    margin-bottom: $mrg;
    background: $white;
    padding: $pdg;
    border: dashed $violet;
}
.text-out-img, 
.text-in-img {
    background-image: repeating-linear-gradient(rgba($color: $background, $alpha: 0.7), 
    rgba($color: $background, $alpha: 0.4));
    padding: $pdg;
}
.text-out-img {
    padding-top: 200px;
    padding-bottom: 200px;
}
.text-in-img {
    position: relative;
    bottom: 300px;
}
.img-in-a {
    height: 500px;
}
.test-section {
    background-image: repeating-linear-gradient(to right, rgba($color: $fuxia, $alpha: 1.0), rgba($color: $blue-2, $alpha: 1.0));
    padding: 5px;
    border-radius: 40px;
    margin: $mrg;
    max-width: 450px;
}
.test-main-div {
    background-color: $white;
    padding: $pdg;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.test-1-img {
    border-radius: 70px;
    margin: $pdg;
    border: dashed $background 5px;
}
.test-1-btn {
    font-size: $sz;
    font-family: $f-f;
    color: $white;
    background-image: repeating-linear-gradient($violet, $blue);
    border-radius: 30px;
    padding: $pdg;
    border: none;
    transition: transform .2s;
    &:hover {
        transform: scale3d(0.9, 2, 2);
    }
    &:active {
        color: $fuxia;
        background: $white;
    }
}
.flex-section {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ul-in-test {
    background-image: repeating-linear-gradient($violet, $blue);
    padding: $pdg;
    font-size: $sz;
    font-family: $f-f;
    border-radius: $mrg;
    color: $red;
    text-align: center;
}
.li-in-test {
    padding: $pdg;
    font-size: 20px;
    background: $light-purple;
    list-style-type: none;
    border-radius: 8px;
    margin: $pdg;
    cursor: pointer;
}
.the-end-button {
    font-size: $sz;
    font-family: $f-f;
    color: $white;
    background-image: repeating-linear-gradient($violet, $blue);
    border-radius: 30px;
    padding: $pdg;
    border: none;  
}
.last-img {
    border-radius: 100px;
    border: $background dotted 5px;
}